body{
    background-color: rgb(97, 50, 16);;
}

h1{
    color: blanchedalmond;
}

ul{
    color: wheat; 
    font-size: larger;
}

a:link {
    color: lightcoral;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(194, 105, 28);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(228, 178, 70);
    background-color: transparent;
    text-decoration: underline;
  }